<div class="main">
  <h1>Baby Monitoring</h1>
  <p>
    Temperature:
    <span id="temperature">20°</span>
  </p>
  <p>
    Humidity:
    <span id="humidity">60%</span>
  </p>
  <p>Baby:</p>
  <video id="video" autoplay controls></video>
  <div class="controls">
    <button id="startButton">Start</button>
    <button id="stopButton">Stop</button>
  </div>
</div>
<script src="/javascripts/viewer.js" type="module"></script>
