<!DOCTYPE html>
<html>
  <head>
    <title>Baby Monitor</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- body %>
  </body>
  <script src="/javascripts/webrtc-client.js" type="module"></script>
</html>
