<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Baby Monitoring</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="main">
      <h1>Baby Monitoring</h1>
      <p>Temperature: <span id="temperature">{{ temperature }}</span>°C</p>
      <p>Humidity: <span id="humidity">{{ humidity }}</span>%</p>
      <p>Baby:</p>
      <img src="{{ url_for('video_feed') }}" alt="Video Feed" />
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
