<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Baby Monitoring</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="main">
      <h1>Baby Monitoring</h1>
      <!-- <p>Temperature: <span id="temperature">{{ temperature }}</span>°C</p>
      <p>Humidity: <span id="humidity">{{ humidity }}</span>%</p> -->
      <p>Baby:</p>
      <video width="640" height="480" controls autoplay>
        <source src="/stream.m3u8" type="application/x-mpegURL" />
      </video>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest" defer></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
  </body>
</html>
