@use "../../../node_modules/spin.js/spin";

body {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
  background-color: #14161a;
  color: #fff;
}

.container {
  text-align: center;
}

.content .headline {
  color: #fff;
  padding-top: 50px;

  @media screen and (width <= 1280px) {
    padding-top: 20px;
  }
}

.content-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-conditions-area {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (width <= 1280px) {
    flex-direction: row;
    justify-content: center;
  }
}

.video-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#video-wrapper {
  position: relative;
}

#video {
  width: 680px;
  height: 480px;

  @media screen and (width <= 1280px) {
    width: 480px;
    height: 320px;
  }
}

.error-message {
  color: #f00;
  font-weight: bold;
  text-align: center;
}

.hidden {
  display: none;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 10px auto 0;
}
